{% extends 'base.html' %}
{% block header %}
    {% block title %}Registration{% endblock %}
{% endblock %}
{%  block content %}
    <form action="{{ url_for('auth.signup') }}" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }}   {{ form.username(size=20) }}
        {{ form.password.label }}   {{ form.password(size=20) }}
        {{ form.repeat_password.label }}   {{ form.repeat_password(size=20) }}
        {{ form.first_name.label }}   {{ form.first_name(size=20) }}
        {{ form.last_name.label }}   {{ form.last_name(size=20) }}
        {{ form.email.label }}   {{ form.email(size=20) }}
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}