{% extends 'base.html' %}
{% block header %}
    {% block title %}Registration{% endblock %}
{% endblock %}
{%  block content %}
    <form action="{{ url_for('registration') }}" method="post">
        <label>
            <input placeholder="Username" name="username">
        </label>
        <label>
            <input placeholder="Password" name="password" type="password">
        </label>
        <label>
            <input placeholder="Repeat password" name="repeat_password" type="password">
        </label>
        <label>
            <input placeholder="First Name" name="first_name">
        </label>
        <label>
            <input placeholder="Last Name" name="last_name">
        </label>
        <label>
            <input placeholder="E-mail" name="email" type="email">
        </label>
        <input value="Sign Up" type="submit">
    </form>
{% endblock %}